
    
    #main_text{
        text-align:center;
        font-family:born ready slanted;
        font-size: 6vw;
        margin: 0;
    }
    #subtitle{
        font-size: large;
        text-align:center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #4c096b;
    }
     
    /*----------------------*/
    
    @import url("https://fonts.googleapis.com/css?family=Raleway:500");
    body {
      background: #c2e4ed;
      display: grid;
      height: 100vh;
      margin: 0;
      place-items: center;
      padding: 1rem;
    }
    
    button {
      -webkit-appearance: none;
      background: -webkit-gradient(to right, #77be99 0%, #fceeb5 50%, #ee786e 100%);
      background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
      background-size: 500%;
      border: none;
      border-radius: 5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      color: #4c096b;
      cursor: pointer;
      font: 1.5em Raleway, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 5rem;
      letter-spacing: 0.05em;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 5rem;
      margin: 15pt;
    }
    
    button:hover {
      animation-name: gradient;
      -webkit-animation-name: gradient;
      animation-duration: 2s;
      -webkit-animation-duration: s;
      animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100%;
      }
    }
    /*------------------------------------------*/
    #outer
    {
        width:100%;
        text-align: center;
    }
    .inner
    {
        display: inline-block;
    }
    /*------------------------------------------*/
    .instagram {   
    background: #3f729b;   
    color: white;   
    }         
    .youtube {   
    color: white;   
    background: #c4302b;    
    }       
    .linkedin {   
    background: #0e76a8;   
    color: white;   
    }      
    .blog {   
    background: #0e76a8;   
    color: white;   
    }  
 
/*----------------------------------button animation*/   
    
.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }


/*----------------------------------responsive*/

.left, .right {
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .main {
    float: left;
    width: 60%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    button{
        display:block;
        margin:0.4em auto;
    }
    #main_text{
        font-size: 10vw;
        font-family: caladea;
    }
    #subtitle{
        font-size: 15pt;
    }
    
  }
